.navbar {
  background-color: #ffffff !important;
  padding: 1rem !important;
}

.nav-link {
  color: rgb(0, 122, 62) !important;
  font-weight: 500 !important;
  margin-left: 3.5rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: rgb(129, 129, 129) !important;
}

.logo {
  width: 110px;
}
